*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#ff6ec4,#7873f5,#00d4ff);

background-size:400%;

animation:fundo 10s infinite alternate;

display:flex;

justify-content:center;

padding:30px;

}

@keyframes fundo{

0%{background-position:left;}
100%{background-position:right;}

}

.container{

width:900px;

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.3);

}

h1{

text-align:center;

color:#5d3fd3;

font-size:40px;

}

p{

text-align:center;

margin:15px;

}

.formulario{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-top:25px;

}

textarea{

grid-column:span 2;

height:100px;

resize:none;

}

input,select,textarea{

padding:15px;

border:none;

border-radius:15px;

background:#f0f0f0;

font-size:17px;

}

button{

grid-column:span 2;

padding:18px;

background:#ff4081;

color:white;

font-size:22px;

border:none;

border-radius:15px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.05);

background:#e91e63;

}

.propaganda{

margin-top:40px;

padding:30px;

border-radius:25px;

text-align:center;

color:white;

transition:.5s;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.propaganda h2{

font-size:40px;

margin-bottom:20px;

}

.emoji{

font-size:80px;

}

.preco{

font-size:40px;

font-weight:bold;

margin:20px;

}

.slogan{

font-size:30px;

font-style:italic;

}

.publico{

margin-top:20px;

font-size:22px;

}

.descricao{

margin-top:20px;

font-size:18px;

}